
/* Start Global Variables */

:root{
    --main-color : #20c997;
    --second-color:#f8f9fa;
}


body *::selection{
    background-color: #40bb96;
}

/* End Global Variables */


/* Start Components */
.special-heading{
    position: relative;
}

.special-heading h1{

    color: #ebeced;
    font-size: 130px;
}

.special-heading p{
    font-size: 40px;
    margin: -100px 0 0 ;
}


.special-heading::before{
    content: "";
    position: absolute;
    top: 80%;
    left: 46.7%;
    height: 3px;
    width: 88px;
    background: var(--main-color);  
}
/* End Components */

/* Start Header */


header{
    height: 100vh;
    background: url(../images/intro-bg.jpg) center center/cover no-repeat fixed;
    position: relative;
}



ul li {
    text-decoration: none;
    padding-top: 15px;
}


ul li a {
    text-decoration: none;
    padding-right: 30px;
    transition: 300ms;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

ul li  .first,
ul li :hover
{
    color: var(--main-color);
}


.icons i{
    padding: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.icons .first:hover{
    color: rgb(29, 161, 242);
}

.icons .second:hover{
    color: rgb(24, 119, 242);
}

.icons .last:hover{
    color:rgb(234, 76, 137);
}

.navbar{
    /* background-color: black; */
    /* background-color: transparent; */
}

header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white;
}

.content h1{
    font-size: 85px;
}

.content p{
    font-size: 25px;
}

.content h3{
    font-size: 30px;
}

.content button{
    padding: 13px 42px;
    font-weight: 600;
    border-width: 2px;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.702);    
}

header *{
    z-index: 999;
}


@media (width<860px) {
    .navbar nav{
        display: none;
    }
}




/* End Header */

/* Start About */


.txt span{
    color: var(--main-color);
}


.txt p{
    line-height: 2;
    font-size: 17px;
}

.info .s{
    color: var(--main-color);
}


.info .second
{
    border-bottom: solid #ebeced 2px;
    border-top: solid #ebeced 2px;
}

.info .third{
    border-bottom: solid #ebeced 2px;
}

.info button{
    padding: 13px 42px;
    font-weight: 600;
    border-width: 2px;
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
    transition: 300ms;
}

.info button:hover{
    padding: 13px 42px;
    font-weight: 600;
    border-width: 2px;
    background-color:#13ac7f;
    border-color:#13ac7f;
    color: white;
}


.stat h1{
    color: gray;
}






.rr{
    border-right: gray 1px dotted;
}

.rl{
    border-right: gray 1px dotted;
}
.rd{
    border-right: gray 1px dotted;
}

@media (width<770px) {
    .container  .rr{
        border-bottom: gray 1px dotted;
        border-right: 0;
    }

    .container .rl{
        border-top: gray 1px dotted;
        border-right: gray 1px dotted;
    }
}


/* End About */

/* Start Services */

.services{
    background-color: var(--second-color);
}

.srv .icon{
    background-color: white;
    padding: 18px;
    border-radius: 4px;
}

.srv .icon i{
    color: var(--main-color);
}


.srv .description{
    line-height: 1.8;
}

/* End Services */

/* Start Resume */


.box{
    border-radius: 7px;
}

.box .first{
    color: white;
    background-color: var(--main-color);
    padding-inline: 11px;
    padding-block: 3px;
    display: inline-block;
    border-radius: 7px;
}

.box span{
    color:rgb(225, 22, 22) ;
}

.progress{
    height: 8px;
}

.des p {
    font-weight: 600;
}


.progress-bar{
    background-color: var(--main-color);
}



.cvbtn button{
    padding: 13px 42px;
    font-weight: 600;
    border-width: 2px;
    background-color: white;
    border-color: gray;
    color: gray;
    transition: 300ms;
}

.cvbtn button:hover{
    color: white;
    background-color: gray;
}

/* End Resume */


/* Start Portfolio */

.portfolio{
    background-color: var(--second-color);
}


.portfolio nav  ul li {
    text-decoration: none;
    padding-top: 15px;
}


.portfolio nav  ul li a {
    text-decoration: none;
    padding: 10px;
    transition: 300ms;
    font-size: 16px;
    color: gray;
    font-weight: 600;
}

.portfolio nav ul li  .first,
.portfolio nav ul li :hover
{
    color: var(--main-color);
}

.portfolio nav ul li  .first{
    border-bottom: solid 2px var(--main-color);
}


.image1 img {
    width: 100%;
    cursor: pointer;
    transition: 300ms;
}

.image1 img:hover{
    transform: scale(1.125);
}


/* End Portfolio */


/* Start Client */



.client .profile img{
    border-radius: 50%;
}

.profile .title p{
    color: gray;
}

.client .client1{
    background-color: var(--second-color);
}

.des .star i{
    color: gold;
}

.client1 .des p {
    line-height:1.7;
}

/* End Client */

/* Start Contact */

.contact{
    background-color: var(--second-color);
}
p i {
    color: var(--main-color);
}

.social .media i{
    color: rgb(105, 105, 105);
    cursor: pointer;
    font-size: 20px;
    transition: 300ms;
}

.social .media .twitter:hover{
    color: rgb(29, 161, 242);
}

.social .media  .face:hover{
    color: rgb(24, 119, 242);
}

.social .media  .basket:hover{
    color:rgb(234, 76, 137);
}

.social .media  .google:hover{
    color:red;
}
.social .media  .github:hover{
    color:black;
}


.contactbtn button{
    padding: 13px 42px;
    font-weight: 600;
    border-width: 2px;
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
    transition: 300ms;
}

.contactbtn button:hover{
    padding: 13px 42px;
    font-weight: 600;
    border-width: 2px;
    background-color:#13ac7f;
    border-color:#13ac7f;
    color: white;
}

/* End Contact */

/* Start Footer */

.footer p .clr{
    color: var(--main-color);
}



.footer p  .first ,
.footer p  .sec{
    cursor: pointer;
    transition: 300ms;
} 

.footer p  .first:hover ,
.footer p  .sec:hover{
    color: var(--main-color);
} 

@media (width<760px) {
    .footer{
        flex-direction: column;
    }
}

/* End Footer */

